[Unit]
Description=PHP FastCGI Process Manager
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --interactive \
              --publish 9000:9000/tcp \
              --mount type=bind,source="/srv",target="/srv" \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              --name php-fpm-mkl \
              hetsh/php-fpm-mkl
ExecStart=/bin/docker start --attach php-fpm-mkl
ExecStop=/bin/docker stop php-fpm-mkl

[Install]
WantedBy=multi-user.target
