[Unit]
Description=PHP FastCGI Process Manager for MKL website
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --publish 9000:9000/tcp \
              --mount type=bind,source="/srv/mkl/site",target="/srv/mkl/site" \
              --mount type=bind,source=/var/log/php-mkl,target=/var/log/php \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              --name php-mkl \
              hetsh/php-mkl
ExecStart=/bin/docker start --attach php-mkl
ExecStop=/bin/docker stop php-mkl

[Install]
WantedBy=multi-user.target
